<!doctype html>
<html>
<head>
    <title>Zatt</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/ytdl.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1><strong>Zatt</strong></h1>
            </div>
            <p>Uji coba implementasi zatt dalam storage server.</p>
            <p>For conversion between:</p>
            <ol>
                <li>test_1 = Append</li>
                <li>test_2 = Delete</li>
                <li>test_3 = Read from different client</li>
                <li>test_4 = Input file</li>
                <li>test_5 = Diagnostic</li>
                <li>test_6 = Export file</li>
            </ol><br>
        </div>
        <form id="dlform" name="dlform" action="/send" method="post">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="test">Test Ke:</label>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_1" type="radio">test_1</label>
                    </div>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_2" type="radio">test_2</label>
                    </div>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_3" type="radio">test_3</label>
                    </div>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_4" type="radio">test_4</label>
                    </div>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_5" type="radio">test_5</label>
                    </div>
                    <div class="radio">
                        <label><input id="test" name="test" value="test_6" type="radio">test_6</label>
                    </div>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="port">Port:</label>
                    <input id="port" name="port" class="form-control" type="number" min="9000" max="9999" />
                </div>
            </div>
            <button id="submit" class="btn btn-default" type="submit" form="dlform" value="send">Send</button>
            <span id="info" hidden>Sending...</span>
        </form>
    </div>
</body>
</html>